<title>
  <%= "TITAN Explorer - #{token_name(@token)} (#{token_symbol(@token)})" %>
</title>
<meta name="keywords" content="<%= "#{token_name(@token)}, #{token_symbol(@token)}, #{Address.checksum(@token.contract_address_hash)}, #{LayoutView.network_title()}, #{Explorer.coin()}" %>">
<meta name="description" content="TITAN Explorer provides analytics data, API, and Smart Contract tools for the TitanChain">
