<title>
  <%= gettext "TideBit Explorer - API" %>
</title>
<meta name="description" content="<%= gettext "API endpoints for the TideBit" %>">
<meta name="keywords" content="API, Analytics, Balance, transactions, logs, events, internal transactions, <%= LayoutView.subnetwork_title() %>">
